body {
    background-color: green;
    color: darkgray;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
}

.main {
    background: darkgreen;
    background-image: radial-gradient(#e5e5e5 1px, transparent 1px);
    background-size: 20px 20px;
    color: black;
    width: 90%;
    max-width: 800px;
    min-height: 90vh;
    padding: 20px 40px; 
    box-sizing: border-box;
    text-align: center;
}

a.orpheus {
    font-size: 2.4rem;
}

#hackclub-logo {
    width: 15rem;
}